main {
    min-height: 85vh;
}

#landing main .parallax {
    background-image: url("https://hypoluxa68.github.io/VoidVortex/img/stars.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}